* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #193549;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

:root {
  --main-color: #ffc600;
}

.main {
  display: flexbox;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
}

.image {
  filter: blur(0px);
  -webkit-filter: blur(0px);
  border: 100px solid var(--main-color);
}

.settings {
  display: flexbox;
  flex-direction: row;
  padding: 20px;
}

.main-color {
  color: var(--main-color);
}
