:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 1px;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    max-width: 50%;
    max-height: 50%;
    margin-top: -35px;
}

.h1 {
    color: var(--base);
}

body {
    background: url("images/black.jpg") no-repeat center center fixed;
    text-align: center;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 25px;
}

.controls {
    margin-bottom: 50px;
  }

  input {
    width: 100px;
  }



